body{
    background-color: #21368B
}

.list-headers{
    background-color: #91C9BB
}

h1{
    color: #E5E5E5
}

.navbar{
    padding: .5% 4%;
}

#content{
    margin:0 0%;
}

.list-complete{
    filter: grayscale(100%);
}