{% extends "base.html" %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block content %}
{% if not data %}
<h1 class="display-1 text-center">Sample List</h1>
<div class="card" style="width: 20rem;">
    <img src="https://placedog.net/200/280?random">
    <h5 class="card-title d-grid">
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Get a Dog
        </button>
    </h5>
    <div class="card-body collapse" id="collapseExample">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <input class="form-check-input bg-success" type="checkbox" checked>
                Pick a breed
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox">
                Find a shelter or breeder and visit
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox">
                Gather supplies
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox">
                Bring Dog Home!
            </li>
        </ul>
        <div class="progress mt-1">
            <div class="progress-bar bg-success" role="progressbar" aria-label="Basic example" style="width: 25%"
                 aria-valuenow="25" aria-valuemin="0"
                 aria-valuemax="100">25%
            </div>
        </div>
        <div class="d-grid col-3 ms-auto mt-3">
            <button href="#" type="button" class="btn btn-success">Update</button>
        </div>
    </div>
</div>
<h1 class="display-1 text-center">Add Your Own</h1>
{% else %}
<h1 class="display-1 text-center">Your Lists</h1>
{% endif %}
<div class="card" style="width: 20rem;">
    <h5 class="card-title text-center">Create a List</h5>
    <div class="card-body">
        <form method="post" action="/">
            {{ form.csrf_token }}
            {{ form.title.label(class_="form-label") }}
            {{ form.title(class_="form-control") }}
            {{ form.image_url.label(class_="form-label") }}
            {{ form.image_url(class_="form-control") }}
            {{ form.sub_objectives.label(class_="form-label") }}
            {{ form.sub_objectives(class_="form-control") }}
            {{ form.submit(class_="btn btn-primary mt-2") }}
        </form>
    </div>
</div>
<div class="row row-cols-4 row-cols-md-6 g-2">
    {% for todo in data %}
    <div class="col">
        <div class="card h-100" style="width: 20rem;">
            <img class="card-img-top" src="{{todo['img_url']}}">
            <h5 class="card-title d-grid">
                <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{loop.index}}" aria-expanded="false"
                        aria-controls="collapse{loop.index}}">
                    {{todo['Title']}}
                </button>
            </h5>
            <div class="card-body collapse" id="collapse{{loop.index}}">
                {% for item in todo['Sub_Objectives']%}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ item[1].check }}
                        {{item[0]}}
                    </li>
                </ul>
                {% endfor %}
                <div class="progress mt-1">
                    <div class="progress-bar bg-success" role="progressbar" aria-label="Basic example"
                         style="width: {{todo['progress']}}%" aria-valuenow="25" aria-valuemin="0"
                         aria-valuemax="100">{{todo['progress']}}%
                    </div>
                </div>
                <div class="d-grid col-3 ms-auto mt-3">
                    <button href="#" type="button" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
</div>
        {% endblock %}