{% extends "base.html" %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block content %}
<!--<div class="row">-->
<!--    <h1 class="display-5 col-4 text-center list-headers py-3">Create a List</h1>-->
<!--    {% if not data %}-->
<!--    <h1 class="display-5 text-center col-8 list-headers py-3">Sample List</h1>-->
<!--    {% else %}-->
<!--    <h1 class="display-1 text-center col-8 list-headers py-3">Your Lists</h1>-->
<!--    {% endif %}-->
<!--</div>-->


<div class="row my-5">
    <div class="card offset-1 col-2">
        <h5 class="card-title text-center">Create a New List</h5>
        <div class="card-body">
            <form method="post" action="{{url_for('user_home')}}">
                {{ form.csrf_token }}
                {{ form.title.label(class_="form-label") }}
                {{ form.title(class_="form-control") }}
                {{ form.image_url.label(class_="form-label") }}
                {{ form.image_url(class_="form-control") }}
                {{ form.sub_objectives.label(class_="form-label") }}
                {{ form.sub_objectives(class_="form-control") }}
                {{ form.submit(class_="btn btn-primary mt-2") }}
            </form>
        </div>
    </div>
    {% if not data %}
    <div class="card offset-4 col-2">
        <img src="https://placedog.net/200/280?random">
        <h5 class="card-title d-grid">
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Get a Dog
            </button>
        </h5>
        <div class="card-body collapse" id="collapseExample">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <input class="form-check-input bg-success" type="checkbox" checked>
                    Pick a breed
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox">
                    Find a shelter or breeder and visit
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox">
                    Gather supplies
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox">
                    Bring Dog Home!
                </li>
            </ul>
            <div class="progress mt-1">
                <div class="progress-bar bg-success" role="progressbar" aria-label="Basic example" style="width: 25%"
                     aria-valuenow="25" aria-valuemin="0"
                     aria-valuemax="100">25%
                </div>
            </div>
            <div class="d-grid col-3 ms-auto mt-3">
                <button type="button" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
    {% else %}
    <div class="offset-1 col-7">
        <h1>Lists</h1>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button  class="nav-link active" data-bs-toggle="tab" role="tab" data-bs-target="#active-lists">Active</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#completed-lists">Completed</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#all-lists">All</button>
            </li>
        </ul>
        <div class="tab-content" id="lists">
            <div class="tab-pane fade show active" role="tabpanel" id="active-lists">
                <div class="row row-cols-1 row-cols-xl-2 row-cols-xxl-3 g-2">
                    {% for tdlist in active %}
                    <div class="col">
                        <div class="card " style="width: 20rem;">
                            {% if tdlist.progress < 100 %}
                            <img class="card-img-top" src="{{tdlist.img_url}}">
                            <h5 class="card-title m-0 d-grid">
                                <button class="btn btn-success fs-4" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse_active{{loop.index}}" aria-expanded="false"
                                        aria-controls="collapse_active{{loop.index}}">
                                    {{tdlist['title']}}
                                </button>
                            </h5>
                            {% else %}
                            <img class="card-img-top list-complete" src="{{tdlist.img_url}}">
                            <h5 class="card-title m-0 d-grid">
                                <button class="btn btn-outline-secondary fs-4" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{loop.index}}" aria-expanded="false"
                                        aria-controls="collapse{loop.index}}">
                                    {{tdlist.title}}
                                </button>
                            </h5>
                            {% endif %}
                            <div class="card-body collapse" id="collapse_active{{loop.index}}">
                                <form method="post" action="/">
                                    {% for item in tdlist.objectives %}
                                    <ul class="list-group list-group-flush m-0 p-0">
                                        <li class="list-group-item">
                                            <div class="d-grid">
                                                {% if item.complete %}
                                                <a href="{{ url_for('update_list', list_num=tdlist.id, obj_num=loop.index, current=item.complete) }}"
                                                   type="button"
                                                   class="btn btn-outline-warning text-decoration-line-through text-start fs-5">{{item.objective_text}}</a>
                                                {% else %}
                                                <a href="{{ url_for('update_list', list_num=tdlist.id, obj_num=loop.index, current=item.complete) }}"
                                                   type="button"
                                                   class="btn btn-outline-success text-start fs-5">{{item.objective_text}}</a>
                                                {% endif %}
                                            </div>
                                        </li>
                                    </ul>
                                    {% endfor %}
                                    <div class="progress mt-1">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             aria-label="Basic example"
                                             style="width: {{tdlist.progress}}%" aria-valuenow="25" aria-valuemin="0"
                                             aria-valuemax="100">{{tdlist.progress|int}}%
                                        </div>
                                    </div>
                                    <div class="d-grid col-3 ms-auto mt-3">
                                        <button type="button" class="btn btn-success">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="completed-lists">
                <div class="row row-cols-1 row-cols-xl-2 row-cols-xxl-3 g-2">
                    {% for tdlist in completed %}
                    <div class="col">
                        <div class="card " style="width: 20rem;">
                            {% if tdlist.progress < 100 %}
                            <img class="card-img-top" src="{{tdlist.img_url}}">
                            <h5 class="card-title m-0 d-grid">
                                <button class="btn btn-success fs-4" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{loop.index}}" aria-expanded="false"
                                        aria-controls="collapse{loop.index}}">
                                    {{todo['title']}}
                                </button>
                            </h5>
                            {% else %}
                            <img class="card-img-top list-complete" src="{{tdlist.img_url}}">
                            <h5 class="card-title m-0 d-grid">
                                <button class="btn btn-outline-secondary fs-4" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse_completed{{loop.index}}" aria-expanded="false"
                                        aria-controls="collapse_completed{{loop.index}}">
                                    {{tdlist.title}}
                                </button>
                            </h5>
                            {% endif %}
                            <div class="card-body collapse" id="collapse_completed{{loop.index}}">
                                <form method="post" action="/">
                                    {% for item in tdlist.objectives %}
                                    <ul class="list-group list-group-flush m-0 p-0">
                                        <li class="list-group-item">
                                            <div class="d-grid">
                                                {% if item.complete %}
                                                <a href="{{ url_for('update_list', list_num=tdlist.id, obj_num=loop.index, current=item.complete) }}"
                                                   type="button"
                                                   class="btn btn-outline-warning text-decoration-line-through text-start fs-5">{{ item.objective_text }}</a>
                                                {% else %}
                                                <a href="{{ url_for('update_list', list_num=tdlist.id, obj_num=loop.index, current=item.complete) }}"
                                                   type="button"
                                                   class="btn btn-outline-success text-start fs-5">{{ item.objective_text }}</a>
                                                {% endif %}
                                            </div>
                                        </li>
                                    </ul>
                                    {% endfor %}
                                    <div class="progress mt-1">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             aria-label="Basic example"
                                             style="width: {{tdlist.progress}}%" aria-valuenow="25" aria-valuemin="0"
                                             aria-valuemax="100">{{tdlist.progress|int}}%
                                        </div>
                                    </div>
                                    <div class="d-grid col-3 ms-auto mt-3">
                                        <button type="button" class="btn btn-success">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="all-lists">
                <div class="row row-cols-1 row-cols-xl-2 row-cols-xxl-3 g-2">
                    {% for tdlist in data %}
                    <div class="col">
                        <div class="card " style="width: 20rem;">
                            {% if tdlist.progress < 100 %}
                            <img class="card-img-top" src="{{ tdlist.img_url }}">
                            <h5 class="card-title m-0 d-grid">
                                <button class="btn btn-success fs-4" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{loop.index}}" aria-expanded="false"
                                        aria-controls="collapse{loop.index}}">
                                    {{tdlist.title}}
                                </button>
                            </h5>
                            {% else %}
                            <img class="card-img-top list-complete" src="{{tdlist.img_url}}">
                            <h5 class="card-title m-0 d-grid">
                                <button class="btn btn-outline-secondary fs-4" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse_all{{loop.index}}" aria-expanded="false"
                                        aria-controls="collapse_all{{loop.index}}">
                                    {{tdlist.title}}
                                </button>
                            </h5>
                            {% endif %}
                            <div class="card-body collapse" id="collapse_all{{loop.index}}">
                                <form method="post" action="/">
                                    {% for item in tdlist.objectives %}
                                    <ul class="list-group list-group-flush m-0 p-0">
                                        <li class="list-group-item">
                                            <div class="d-grid">
                                                {% if item.complete %}
                                                <a href="{{ url_for('update_list', list_num=tdlist.id, obj_num=loop.index, current=item.complete) }}"
                                                   type="button"
                                                   class="btn btn-outline-warning text-decoration-line-through text-start fs-5">{{ item.objective_text }}</a>
                                                {% else %}
                                                <a href="{{ url_for('update_list', list_num=tdlist.id, obj_num=loop.index, current=item.complete) }}"
                                                   type="button"
                                                   class="btn btn-outline-success text-start fs-5">{{ item.objective_text }}</a>
                                                {% endif %}
                                            </div>
                                        </li>
                                    </ul>
                                    {% endfor %}
                                    <div class="progress mt-1">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             aria-label="Basic example"
                                             style="width: {{tdlist.progress}}%" aria-valuenow="25" aria-valuemin="0"
                                             aria-valuemax="100">{{tdlist.progress|int}}%
                                        </div>
                                    </div>
                                    <div class="d-grid col-3 ms-auto mt-3">
                                        <button type="button" class="btn btn-success">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}